DJANGO_SUPERUSER_USERNAME = username
DJANGO_SUPERUSER_PASSWORD = password
DJANGO_SUPERUSER_EMAIL = email

# PRODUCTION DB
SECRET_KEY = secretkey
DATABASE_URL = url

# DEVELOPMENT DB
SECRET_KEY = secretkey
DEBUG = True
DATABASE_URL = url

# RAILWAY SUPERUSER
DJANGO_SUPERUSER_USERNAME = username
DJANGO_SUPERUSER_PASSWORD = password
DJANGO_SUPERUSER_EMAIL = email

# EMAIL VERIFICATION
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_HOST_USER = email 
EMAIL_HOST_PASSWORD = password
FRONTEND_URL = hosted url (for prod) / http://127.0.0.1:8000 (for dev)
DEBUG = True (for dev)

# OAUTH
GOOGLE_OAUTH_CLIENT_ID = id
GOOGLE_OAUTH_CLIENT_SECRET = secret